discord/
chromium/
libreoffice/
postman/
GIMP/
khotkeysrc
kglobalshortcutsrc
calibre/
galculator/
gconf/
goa-1.0/
g*/
[kK]*/
l*/
matplotlib/
plank/
qutebrowser/
razor/
session/
terminology/
nitrogen/
mpv/
ranger/
transmission/
tint2/
plasma*
gtk*

