discord/
chromium/
libreoffice/
Postman/
GIMP/
khotkeysrc
kglobalshortcutsrc
calibre/
galculator/
gconf/
goa-1.0/
g*/
[kK]*/
l*/
matplotlib/
plank/
qutebrowser/
razor/
session/
terminology/
nitrogen/
mpv/
ranger/
transmission/
tint2/
plasma*
gtk*
QtProject.conf
Trilltech.conf
VirtualBox/
akregatorrc
auroraerc
baloofielrc
dconf/
fontconfig/
kacti*
kcm*
kde*
kfon*
knf*
krun*
ksc*
ksm*
ksp*
ktime*
kwin*
mime*
pcmanfm/
pulse/
qt*/
systemd/
volumeicon/
xfce4/
Trolltech.conf
kate*
kconf*
startup*
systemsettingsrc
user-dirs*
yad.conf
baloofielrc
